.demo ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.demo li { margin: 5px; padding: 5px; width: 150px; }

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; }

#sortable li { 
	margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 100px; 
	height: 90px; 
	font-size: 4em; 
	text-align: center; 
	cursor: move;
}