body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.demo {
	background: #E7EBF3;
	border-radius: 4px;
	border: 1px solid #C4CDE2;
	overflow: hidden;
	max-width: 760px;
	margin: 0 auto;
}
.logo {
	display:block;
	margin:20px auto;
}
.demo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
.demo li {
	margin: 5px;
	padding: 5px;
	width: 150px;
}
#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#sortable li { 
	line-height: 1.25em;
	text-transform: uppercase;
	background: white;
	margin: .5%;
	padding: .5%;
	float: left;
	width: 10%;
	font-size: 4em;
	text-align: center;
	cursor: move;
	border: 1px solid red;
}